@charset "ISO-8859-1";
body{
	font-family:poppins;
  	
  	overflow: auto;
		
}

.side-navbar{
	height:100%;
	width:260px;
	position:fixed;
	z-index:1;
	top:0;
	left:0;
	background-color: #000080;
	overflow-x:hidden;
	padding-top:20px;
}
 .side-navbar a{
 
 padding:50px 10px 10px 50px;
 text-decoration: none;
 font-size:18px;
 font-weight:900;
 display:block;
 font-family: "Times New Roman", Times, serif;
 color:	#f0ffff;
 
 
 }
 
 .side-navbar a:hover{
 color:#ffff00;
 -webkit-transform: scale(1.3);
	transform: scale(1.3);	
 
 }
 
 
.header{
	width:1200px;
	height:100px;
	margin:auto;
	position: absolute;
	left:18%;
	top:-2%;
	background-color: #000080;
	position:fixed;
	z-index:1;

}

.namescl{
	color:#f0ffff;
	left:28%;
	position: absolute;
	top:20%;
}


.logo{
	left:65%;
	position: absolute;
	top:16%;
}

.insert{
	color:	#008000;
	left:43%;
	position: absolute;
	top:140%;
	font-family: "Times New Roman", Times, serif;	
}
.insertInto{
	left:43%;
	position: absolute;
	top:150%;
	width:30%;
	
}




input[type=text]{
  width: 100%;
  padding:  12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Lucida Console", "Courier New", monospace;
  color:#006400;
}

select{
  width: 30%;
  padding:  12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
	
}

input[type=submit] {
  width: 100%;
  background-color:#228b22;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #008000;
}
div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type=text]:hover{
	border: 2px solid #008040;
  	border-radius: 4px;
}

select:hover{
	border: 2px solid #008040;
  	border-radius: 4px;
 }
 
option {
  font-family: serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 3;
  padding: 10px 10px 10px 10px;
}
select option:hover {
  background: #ff9500 -webkit-linear-gradient(bottom, #ff9500 0%, #ff9500 100%);
  color: #fff;
  
 }
 

 
.search{
	color:#800000;
	left:48%;
	position: absolute;
	top:35%;
	font-family: "Times New Roman", Times, serif;
 }



.searchIn{
	left:30%;
	position: absolute;
	top:42%;
	width:30%;
	background:#ffffff;
	
	
	
}

select{
  		width: 40%;
	  padding:  12px 20px;
	  margin: 8px 0;
	  display: inline-block;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  box-sizing: border-box;
	
}
.btnS{
	width:30%;
  background-color:#008000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  left:100%;
	
}
.btnS:hover {
  background-color: #004040;
}
.scrolbar{	
  width: 1150px;
  height: 500px;
  overflow: scroll;
  left:21%;
	position: absolute;
	top:55%;

}
#parent2 {
 font-family: "Times New Roman", Times, serif;
  border-collapse: collapse;
  width: 100%;
  position: absolute;
  top:5%;
  left:0%;
  
  
 	
}

#parent2 td{
  border: 1px solid #ddd;
  padding: 8px;
  height: 30px;
  
}#parent2 tr{
	border: 1px solid #ddd;
  	padding: 5px;
  	padding-top: 12px;
    padding-bottom: 12px;
    text-align:left;
    background-color:#f5f5f5;
   	color: black;
}
#parent2 tr:hover {background-color: #ddd;}

#parent2 tr.topic{
	background-color:#87ceeb;
	text-align:center;
	width:200px;
	font-weight:900;
	font-size:15px;
	font-family: "Lucida Console", "Courier New", monospace;
}


#parent {
 font-family: "Times New Roman", Times, serif;
  border-collapse: collapse;
  width: 100%;
  position: absolute;
  top:5%;
  left:0%;
  
  
 	
}

#parent td{
  border: 1px solid #ddd;
  padding: 8px;
  height: 30px;
  
}#parent tr{
	border: 1px solid #ddd;
  	padding: 5px;
  	padding-top: 12px;
    padding-bottom: 12px;
    text-align:left;
    background-color:#f5f5f5;
   	color: black;
}
#parent tr:hover {background-color: #ddd;}

#parent tr.topic{
	background-color:#87ceeb;
	text-align:center;
	width:200px;
	font-weight:900;
	font-size:15px;
	font-family: "Lucida Console", "Courier New", monospace;
}

        
.update{
  background-color: #000099;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.delete{
	background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
	
}

 .mailR{
	
	width: 20%;
  background-color:	#808000;
  color: 	#000000;
  padding: 14px 0px;;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  display:block;
  text-decoration: none;
  text-align:center;
  left:75%;
  top:25%;
		
}
 .mailR:hover{
 background-color:#FFFF00;
 }


 .down{
 	width: 4%;
 	height:6%;
  background-color:	#b22222;
  color: white;
  padding: 14px 0px;;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  display:block;
  text-decoration: none;
  text-align:center;
  left:95%;
  top:47%;
  }
  
.down:hover{
	 background-color:	#FF0000;
}  
  
 .noti{
position: absolute;
left:6%;
  top:14%;
 
 }
 .dit{
	position: absolute;
	left:7%;
 	 top:13%;
 
 
}
.InsertParent{
	width: 20%;
  background-color:	#000080;
  color: white;
  padding: 14px 0px;;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  display:block;
  text-decoration: none;
  text-align:center;
  left:75%;
  top:18%;
}
.InsertParent:hover{
	background-color:	#0000FF;
}
img{
	left:20%;
	position: absolute;
	top:200%;
	
}









