@charset "ISO-8859-1";
body{
	font-family:poppins;
  	height: 1500px;
  	overflow: auto;
		
}

.side-navbar{
	height:100%;
	width:260px;
	position:fixed;
	z-index:1;
	top:0;
	left:0;
	background-color: #000080;
	overflow-x:hidden;
	padding-top:20px;
}
 .side-navbar a{
 
 padding:50px 10px 10px 50px;
 text-decoration: none;
 font-size:18px;
 font-weight:900;
 display:block;
 font-family: "Times New Roman", Times, serif;
 color:	#f0ffff;
 
 
 }
 
 .side-navbar a:hover{
 color:#ffff00;
 -webkit-transform: scale(1.3);
	transform: scale(1.3);	
 
 }
 
 
.header{
	width:1200px;
	height:100px;
	margin:auto;
	position: absolute;
	left:18%;
	top:-2%;
	background-color: #000080;
	
	z-index:1;

}

.namescl{
	color:#f0ffff;
	left:28%;
	position: absolute;
	top:20%;
}


.logo{
	left:65%;
	position: absolute;
	top:16%;
}
.searchtble{
	
	left:25%;
	position: absolute;
	top:30%;
	width:30%;
		
}
select{
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
	
}
.btnS{
	width:100%;
  background-color:#4169e1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
	
}

#parent {
 font-family: "Times New Roman", Times, serif;
  border-collapse: collapse;
  width: 73%;
  position: absolute;
  top:50%;
  left:25%;
  
 	
}

#parent td{
  border: 1px solid #ddd;
  padding: 8px;
  height: 50px;
  
}#parent tr{
	border: 1px solid #ddd;
  	padding: 8px;
  	 padding-top: 12px;
    padding-bottom: 12px;
    text-align:left;
    background-color:#f5f5f5;
   	color: black;
}
#parent tr:hover {background-color: #ddd;}

#parent tr.topic{
	background-color:#87ceeb;
	text-align:center;
	width:400px;
	font-weight:900;
	 font-family: "Lucida Console", "Courier New", monospace;
}

